*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contenedor{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 105, 192);
    transition: all .5s ease;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: center;*/
}

  .sidebar {
    width: 240px;
    height: 100%;
    background: #21075f;
    transition: all .5s ease;
  }
  
  .sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 45px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
    text-decoration: none;
  }
    
  a.active,a:hover{
    background-color: rgb(34, 72, 238);
    color: #ffffff;
  }
  
  /*#check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  
  #check:checked ~ .content{
    margin-left: 240px;
    padding: 0px 75px;
    height: 100%;
  }*/
    
  div.content {
    margin-left: 0px;
    padding: 0px 95px;
    height: 100%;
    transition: all .5s ease;
  }
  
  .contenidoOpcion { 
    display: none; 
  }
  
  #opcion1:target,
  #opcion2:target,
  #opcion3:target,
  #opcion4:target { 
    display: block;
  }
    
  /*Visualización para pantallas tamaño tablet*/
  @media screen and (max-width: 1100px) {
    .sidebar {
      /*position: relative;*/
      width: 100%;
      /*left: 0px;*/
      /*top: -65px;*/
      height: 85px;
      background: #21075f;
    }
  
    .sidebar a {
      display: inline;
      /*height: 5px;*/
      width: 100%;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
    a:hover, a:active{
      background-color: #21075f;
      color:rgb(147, 165, 248);
    }
  
    div.content {
      margin-left: 10px;
      padding: 5px 25px;
      height: 100%;
    }
    .contenedor{
      display: flex;
      width: 100vw;
      height: 100vh;
      background-color: rgb(38, 105, 192);
      transition: all .5s ease;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      /*align-items: center;*/
  }
  }
    
  /*Visualización para pantallas tamaño celular*/
  @media screen and (max-width: 550px) {
    .contenedor{
      flex-direction: column-reverse;
      /*align-items: center;*/
  }
    .sidebar {
      /*position: relative;*/
      width: 100%;
      left: 0px;
      top: 0;
      height: 265px;
    }
    .sidebar a {
      display: block;
      text-align: center;
      width: 100%;
      color: white;
      padding-left: 0px;
      font-family: 'Open Sans', sans-serif;
    }
  
    a.active,a:hover{
      background-color: rgb(34, 72, 238);
      color: #ffffff;
    }
    .content {
      top: 0px;
      margin-left: 0px;
      margin-top: 5px;
      padding: 0px 0px;
      height: 100%;
    }
  }